.dashboard {
  margin-top: 60px;
  display: flex;
}
.outlet {
  flex-grow: 1;
  margin-left: 187px;
}
.drawer {
  background-color: #161516ee;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
  width: 16%;
  padding: 20px;
  padding-top: 30px;
  height: max-content;
  position: fixed;
  z-index: 10;
}
.drawer_button {
  color: black;
  width: 130px;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  background-color: #9c7c38;
  font-size: 15px;
}
.drawer_button:hover {
  color: aliceblue;
}

/* Media Query  */
@media only screen and (max-width: 600px) {
  .dashboard {
    display: flex;
    padding-top: 0px;
    margin-top: -1px;
  }
  .outlet {
    flex-grow: 1;
    margin-left: 0px;
  }
  .drawer {
    background-color: #161516ee;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33%;
    height: max-content;
    position: relative;
    margin-left: -20px;
  }
  .drawer_button {
    color: black;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    background-color: #9c7c38;
    font-size: 15px;
    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 920px) {
  .dashboard {
    padding-top: 0px;
    margin-top: -1px;
  }
}
