.title {
  font-size: 25px;
  font-weight: 700;
  color: #9c7c38;
  
}


a.nav_link {
  color: #838996;
  font-size: 17px;
  font-weight: bold;
}
a.nav_link:link {
  text-decoration: none;
  margin-right: 10px;
  color: #838996;
}

a.nav_link:hover {
  cursor: pointer;
  color: #9c7c38;
}

@media screen and (min-width: 640px) {
  .link {
    margin-left: 390px;
    gap: 20px;
    position: relative;
  }
}
@media screen and (min-width: 640px) {
  .link2 {
    margin-left: 50px;
   
  }
}
@media screen and (min-width: 340px) {
  .link2 {
    margin-left: 50px;
   
  }
}
