.title {
  font-size: 25px;
  font-weight: 700;
  color: #9c7c38;
}

a.nav_link {
  color: #838996;
  font-size: 17px;
  font-weight: bold;
}
a.nav_link:link {
  text-decoration: none;
  margin-right: 10px;
  color: #838996;
}

.profileButton {
  font-size: 1.5em;
}

@media screen and (min-width: 640px) {
  .link {
    margin-left: 390px;
    gap: 20px;
    position: relative;
  }
}
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10;
}

.cartItemDetail {
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 640px) {
  .link2 {
    margin-left: 50px;
  }
}

@media screen and (min-width: 340px) {
  .link2 {
    margin-left: 50px;
  }
}
