.product {
  width: 100%;
  height: auto;
  min-height: 450px;
  border: none;
  margin-bottom: 50px;
  background-color: rgba(248, 248, 248, 255);
  display: flex;
  flex-direction: column;
}
.product .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  width: 100%;
  max-width: 225px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.Card-title {
  width: 100%;
  overflow: hidden;
  text-wrap: wrap;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.button {
  display: flex;
  justify-content: space-evenly;
}

.bbutton {
  width: 110px;
  height: 42px;
  border: none;
  background-color: #9c7c38;
  margin: 5px;
}

.bbutton:hover {
  color: white;
  background-color: #7a6229;
}
