.newsLetter {
  background-color: black;
  height: 300px;
  padding: 50px;
}
.text {
  color: #808080;
}
.text h3{
    margin-top: 10px;
    font-weight: 600;
}

.mail input {
  outline: none;
  border: none;
  border-bottom: 1px solid #b8860b;
  border-spacing: 3px;
  background-color: black;
  width: 400px;
  color: #9c7c38;
  font-size: 20px;
  margin-right: 10px;
  padding-bottom: 13px;
}

.mail button {
  width: 200px;
  height: 55px;
  color: #9c7c38;
  letter-spacing: 2px;
  background-color: black;
  border-bottom: 1px solid #b8860b;
  border-radius: 5px;
}
.mail button:hover {
  background-color: #9c7c38;
  color: rgb(250, 246, 246);
}
