.banner {
  background-image: url("../../../images/banner.jpg");
  background-color: rgb(183, 183, 213);
  mix-blend-mode: darken;
  height: 800px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.dialog {
  margin-top: 20px;
  color: #dcdcdc;
  position: relative;
}
.dialog h3 {
  padding-top: 200px;
  font-size: 35px;
}
.dialog h5 {
  font-size: 15px;
  margin-top: 20px;
}
.dialog button {
  background-color: transparent;
  border: none;
  border-radius: 90px;
}

.dialog ion-icon {
  font-size: 60px;
  color: #dcdcdc;
}
ion-icon:hover {
  color: #9c7c38;
}
@media only screen and (max-width: 600px) {
  .dialog h3 {
    font-size: 20px;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .dialog h5 {
    font-size: 12px;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .banner {
    height: 300px;
  }
}
