@media only screen and (max-width: 920px) {
  .manageProductContainer {
    margin-left: 0px;
  }
  .smallCard {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .manageProductContainer {
    margin-left: 0px;
  }
  .smallCard {
    margin-right: 10px;
  }
}
