.products-container {
  margin-left: 110px;
}
.header {
  margin: 100px;
}
a.nave_btn:link {
  text-decoration: none;
}
a.nave_btn {
  font-size: 20px;
  font-weight: 300;
  color: #060607;
}
.explore button {
  background-color: transparent;
  margin-right: 100px;
  width: 150px;
  height: 60px;
  border: 1px solid #9c7c38;
}
.explore button:hover {
  background-color: #9c7c38;
}
@media only screen and (max-device-width: 667px) {
  .products-container {
    margin-left: 11%;
  }
  .header {
    margin: 20px;
  }
  .header > h2 {
    font-size: 20px;
    width: 100%;
  }
}
