.news {
  margin-top: -200px !important;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(8, 7, 7);
}
.news h2 {
  font-size: 15px;
  color: rgb(175, 177, 179);
}
.news h1 {
  font-size: 30px;
  color: rgb(175, 177, 179);
}
.slick-slide > div {
  margin: 0 20px;
}
.slick-list {
  margin: 0 -10px;
}
.news-card {
  background-color: rgb(31, 25, 25);
  border-left: 1px solid rgb(194, 187, 187);
  border-right: 1px solid rgb(212, 207, 207);
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  overflow: hidden;
  height: 500px;
  color: rgb(131, 129, 129);
  margin-top: 70px;
}
.news-card-top img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.news-card-top:hover img {
  opacity: 0.2;
}

.news-card:hover {
  cursor: grabbing;
}

.news-card-top h1 {
  font-size: 20px;
}

.news-card-bottom {
  margin: 5px;
  text-justify: auto;
  font-size: 13px;
}
