.productForm {
  background-color: rgb(36, 35, 35);
  width: 60%;
  margin-left: 200px;
  border-radius: 9px;
  padding: 5px;
  color: rgb(151, 119, 11);
}
.productForm>*{
  margin-bottom: 10px;
}
/* Media Query  */
@media only screen and (max-width: 600px) {
  .productForm {
  background-color: rgb(36, 35, 35);
  width: 85%;
  margin-left:10px;
  border-radius: 9px;
  padding: 5px;
  color: rgb(151, 119, 11);
}
h2{
  margin-right:100px;
}

}