@media screen and (min-width: 576px) {
  .link {
    margin-left: 390px;
    gap: 20px;
    position:relative;
  }
}
@media screen and (min-width: 576px) {
  .link2 {
       margin-left: 350px;
  }
}
